# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
Briefly-Env/
.env

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# VSCode or Mac stuff
.DS_Store
.vscode/

# Celery Beat DB
celerybeat-schedule

#Testing Branches